body {
    margin: 0;
    padding: 0;
    font-family:'Lato', sans-serif;
    font-size: 18px;
    color: #999;
    font-family: 'Noto Serif', serif;
}

address {
  white-space: pre-line;
}

body > .container-fluid {
    padding-right: 0;
    padding-left: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Libre Baskerville', sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 34px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 10px;
}

ol.breadcrumb {
    background: transparent;
    font-size: 14px;
}

#main {
    padding-top: 85px;
    padding-bottom: 50px;
    min-height: 750px;

    .navbar {
        background: rgba(0, 0, 0, 0.5);
        padding: 10px;
        .nav li a {
            color: #ffffff;
        }
    }

}

#offices img {
    width: 100%;
}

#offices > div {
  margin-top: 30px;
}

#offices .contact {
    position: relative;
}

#offices .contact-wrapper {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

#offices > div:hover .contact-wrapper {
    background-color: rgba(0, 0, 0, 0.7);
}

#offices .name {
    color: #cacaca;
    width: 100%;
    text-align: center;
    display: inline-block;
}

.office-hours ul {
    padding-left: 0;
    list-style: none;
    text-align: left;
}

.cameo-portrait {
    border-radius: 50%;
}

a, a:visited {
    text-decoration:none;
}

#footer {
    background-color: #C3D7D0;
    color: #777777;
}

