@import "variables.scss";

body {
    margin: 0;
    padding: 0;
    font-size: $bodyFontSize;
    color: $bodyFontColor;
    font-family: 'Noto Serif', serif;
}

address {
  white-space: pre-line;
}

body > .container-fluid {
    padding-right: 0;
    padding-left: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Libre Baskerville', sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 34px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 10px;
}

ol.breadcrumb {
    background: transparent;
    font-size: $breadcrumbFontSize;
}

#main {
    padding-top: 85px;
    padding-bottom: 50px;
    min-height: 750px;

    .navbar {
        background:rgb(0,0,0);
        background: transparent\9;
        background:rgba(0,0,0,0.5);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000);
        zoom: 1;
        padding: 10px;

        &:nth-child(n) {
            filter: none;
        }

        .nav li a {
            color: $menuFontColor;
        }

    }

}

#offices img {
    width: 100%;
}

#offices > div {
  margin-top: 30px;
}

#offices .contact {
    position: relative;
}

#offices .contact-wrapper {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 10px;
    background:rgb(0,0,0);
    background: transparent\9;
    background:rgba(0,0,0,0.5);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000);
    zoom: 1;
    &:nth-child(n) {
        filter: none;
    }
}

#offices > div:hover .contact-wrapper {
    background:rgb(0,0,0);
    background: transparent\9;
    background:rgba(0,0,0,0.7);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000);
    zoom: 1;
    &:nth-child(n) {
        filter: none;
    }
}

#offices .name {
    color: $overlayFontColor;
    width: 100%;
    text-align: center;
    display: inline-block;
}

.office-hours ul {
    padding-left: 0;
    list-style: none;
    text-align: left;
}

.cameo-portrait {
    border-radius: 50%;
}

a, a:visited {
    text-decoration:none;
}

.home-page-search {
  padding-top: 25%;
  * {
    height: 75px;
    font-size: 22px;
  }

  form, .input-group, input {
    width: 100%;
  }

  input {
    font-style: italic;
    border: 2px solid white;
    background:rgb(255,255,255);
    background: transparent\9;
    background:rgba(255,255,255,0.6);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99ffffff,endColorstr=#99ffffff);
    zoom: 1;
  }
  &:nth-child(n) {
      filter: none;
  }

  button {
    border: 2px solid white;
  }

  :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder, ::-webkit-input-placeholder {
    color: $heroFontColor;
    font-weight: 600;
    text-shadow: 0px 0px 3px white;
  }
}

#footer {
  position: relative;
  padding-top: 30px;
  background:
    linear-gradient(135deg, $footerBackground 22px, $footerBackgroundLight 22px, $footerBackgroundLight 24px, transparent 24px, transparent 67px, $footerBackgroundLight 67px, $footerBackgroundLight 69px, transparent 69px),
    linear-gradient(225deg, $footerBackground 22px, $footerBackgroundLight 22px, $footerBackgroundLight 24px, transparent 24px, transparent 67px, $footerBackgroundLight 67px, $footerBackgroundLight 69px, transparent 69px)0 64px;
  background-color: $footerBackground;
  background-size: 64px 128px;
  .caption {
    position: absolute;
    top: -28px;
    left: 8px;
    a {
      color: #999999;
      font-style: italic;
      text-shadow: 0px 0px 1px white;
    }
  }
  .fw {
    width: 30px;
    height: 30px;
  }
}

