{% extends 'base.html' %}
{% load wagtailimages_tags wagtailcore_tags %}



{% block content %}
  <div class="home-page-search">
    <div class="welcome">Welcome to Morgan County, Missouri</div>
    <form action="{% url 'wagtailsearch_search' %}" role="search">
        <div class="input-group">
            <input type="text" name="q" placeholder="Search this site..." class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit">Go!</button>
            </span>
        </div>
    </form>
  </div>
{% endblock %}

{% block extra_js %}
    <script>
      $.backstretch([
        {% for pic in self.image_slideshow.all %}
          {% image pic.image max-1000x750 as img %}
          '{{img.url}}',
        {% endfor %}
      ], {duration: 6000, fade: 1500});

      var captions = [
        {% for pic in self.image_slideshow.all %}
        '<a href="{{pic.attribution}}">{{pic.author}}</a>',
        {% endfor %}
      ];
      $('#footer').append('<span class="caption"></span>');
      $(window).on('backstretch.show', function(e, instance) {
        $('#footer span.caption').html(captions[instance.index]);
      });
      var resize = function() {
        var height = $('#main').height();
        $('.home-page-search').css('padding-top', (height / 2) - 50);
      };
      $(window).resize(resize());
    </script>
{% endblock %}

