{% extends 'base.html' %}
{% load wagtailimages_tags %}

{% block content %}{% endblock %}

{% block extra_js %}
    <script>
      $.backstretch([
        {% for pic in self.image_slideshow.all %}
          {% image pic.image max-1000x750 as img %}
          '{{img.url}}',
        {% endfor %}
      ], {duration: 10000, fade: 1500});

      var captions = [
        {% for pic in self.image_slideshow.all %}
        '<a href="{{pic.attribution}}">{{pic.author}}</a>',
        {% endfor %}
      ];
      $('.backstretch').append('<span>');
      $(window).on('backstretch.show', function(e, instance) {
        $('.backstretch span').html(captions[instance.index]);
      });
    </script>
{% endblock %}

