{% extends 'base.html' %}
{% load markup wagtailcore_tags wagtailimages_tags %}

{% block content %}

  <div class="col-xs-12 col-md-3">
    {% image self.get_parent.office.portrait max-200x300 as portrait %}
    <img class="cameo" src="{{portrait.url}}" alt="{{self.get_parent.official}}">
    <h4>{{self.get_parent.office.official}}</h4>
    <ul class="list-unstyled">
        {% for page in self.get_parent.get_children %}
            <li{% if self.url == page.url %} class="active"{% endif %}>
                <a href="{% pageurl page %}">{{page.title}}</a>
            </li>
        {% endfor %}
    </ul>
  </div>

  <div class="col-xs-12 col-md-9">
    <h2>{{self.title}}</h2>
    {{self.body|markdown}}
  </div>

{% endblock %}

