{% extends 'base.html' %}
{% load markup wagtailcore_tags wagtailimages_tags %}

{% block title %}{{self.seo_title|default:self.title}}{% endblock %}

{% block content %}
    {{self.body|markdown:"safe"}}
{% endblock %}

{% block sidebar_menu %}
    <div class="header">
        <h1>{{self.title}}</h1>
        {% image self.portrait max-200x300 as portrait %}
        <img class="cameo" src="{{portrait.url}}" alt="{{self.official}}">
    </div>
    <ul>
        {% for page in self.get_children %}
            <li>
                <a href="{% pageurl page %}">{{page.officepage.title}}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

