{% extends 'base.html' %}
{% load markup wagtailcore_tags wagtailimages_tags %}

{% block content %}

  <div class="col-xs-12">
    <h2>{{self.title}}</h2>
  </div>

  <div class="col-xs-12 col-sm-3">
    {% image self.portrait max-200x300 as portrait %}
    <img class="cameo" src="{{portrait.url}}" alt="{{self.official}}">
    <h4>{{self.official}}</h4>
    <ul class="list-unstyled">
        {% for page in self.get_children %}
            <li>
                <a href="{% pageurl page %}">{{page.officepage.title}}</a>
            </li>
        {% endfor %}
    </ul>

    <h5>Address</h5>
    <address>{{self.address.strip}}</address>

    <h5>Phone</h5>
    <span class="phone">
      {{self.phone}}
    </span>
  </div>

  <div class="col-xs-12 col-sm-9">
    {{self.body|markdown}}
  </div>
{% endblock %}

