{% extends 'base.html' %}
{% load markup wagtailcore_tags %}

{% block title %}
  Search Results{% if request.GET.q %} for "{{ request.GET.q|striptags }}"{% endif %}
{% endblock %}

{% block content %}
  <div class="col-xs-12">
    <h2>Search Results{% if request.GET.q %} for "{{ request.GET.q|striptags }}"{% endif %}</h2>
    <ul class="list-unstyled">
      {% for result in search_results %}
        <li>
          <h4><a href="{% pageurl result.specific %}">{{ result.specific }}</a></h4>
          {% if result.specific.search_description %}
            {{ result.specific.search_description|safe }}
          {% elif result.specific.body %}
            {{ result.specific.body|markdown|striptags|truncatechars:100 }}&hellip;
          {% endif %}
        </li>
      {% empty %}
        <li>No results found</li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
